apiVersion: v1
kind: Service
metadata:
  name: hello
  namespace: cudn-demo
  annotations:
    metallb.io/address-pool: ip-addresspool-sno
spec:
  type: LoadBalancer
  selector:
    app: hello
  ports:
  - port: 8080
    targetPort: 8080
